body {
  background-color: #f3ebe5;
}
.perfume {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
}

.title {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  margin: 15px 0;
}

.description {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: #ffff;
  display: block;
  margin: 0 auto;
  padding: 10px 45px;
  border-radius: 10px;
  border: white;
}
